ul {
    &.container {


        &--home {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            li {
                flex: 0 0 calc(25% - 20px);
                max-width: calc(25% - 20px);
                border: 1px solid #ccc;
                border-radius: 8px;
                box-shadow: 0 4px 8px #0000001a;
                overflow: hidden;
                background: #fff;
                margin-top: 10px;
                margin-bottom: 0;
                color: #5d5c5b;
                line-height: 1.45;
                font-size: 13px;
                height: max-content;
                padding: 1rem;

                transition: box-shadow .2s ease-out, padding-bottom .2s ease-out, margin-bottom .2s ease-out, transform .2s ease-out;
                transform-origin: 100% 50%;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 5px 8px #0003;
                    transform: translateY(-3px);
                }

                img {
                    width: 100%;
                    height: auto;
                    max-height: 200px;
                    object-fit: contain;
                }

                @media screen and (min-width: 768px) and (max-width: 1025px) {
                    flex: 0 0 calc(33.33% - 20px);
                    max-width: calc(33.33% - 20px);
                }

                @media screen and (min-width: 691px) and (max-width: 767.98px) {
                    flex: 0 0 calc(50% - 20px);
                    max-width: calc(50% - 20px);
                }

                @media screen and (max-width: 690px) {
                    flex: 0 0 calc(100% - 20px);
                    max-width: calc(100% - 20px);
                }

            }
        }
    }
}