---
import Layout from "$layouts/Layout.astro";
import RandomQuote from "$components/RandomQuote";
import RandomColor from "$components/RandomColor";
import RandomImage from "$components/RandomImage";
import "../styles/index.scss";
---

<Layout
  title="React - Open Free Random Api"
  description="Basic react application which show images from unsplash , random hexcode and random quotes"
>
  <h2>Astro</h2>
  <section class="random--quote">
    <RandomQuote client:load />
    <RandomColor client:load />
    <RandomImage client:load />
  </section>
</Layout>
